.App {
  background-color: #062024;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  color: skyblue;

  display: flex;
  flex-direction: column;
}

::selection {
  background: darkgrey;
  color: black;
}

div {
  font-size: 1.25rem;
}

div + div {
  margin-top: 1em;
}

input {
  margin: 1em auto;
  padding: 0.5em 1em;
  width: 300px;
  border: none;
  border-radius: 200px;

  font-size: 1.25rem;
}
